body {
  margin: 0px;
}

.navbar {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  background-color: #701062;
}
.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.navbar__links a {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}
.navbar__links a:hover {
  background-color: #c1660b;
  color: black;
}
.navbar__links--active {
  background-color: #189014;
  color: rgb(18, 125, 231);
}
.navbar__links--icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
}